<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="Last-Modified" content="Sun, 02 Oct 2022 17:11:55 GMT">
   <meta name="keywords" content="Rafał Jopek, Harbour, Free Software, GNU">
   <meta name="author" content="Rafał Jopek">
   <title>{{ page.title }}</title>
   <link rel="Shortcut icon" href="/assets/img/favicon.ico">
   <link rel="stylesheet" href="/assets/css/main.css"/>
</head>