<div class="image"></div>

   <div class="text">
      <h1 style="font-size:60px">Rafał Jopek</h1>
      <h1>Software Developer</h1>
      <a href="https://www.github.com/rjopek" target="_blank" class="fa fa-github"></a>
      <a href="https://www.facebook.com/rafal.jopek2" target="_blank" class="fa fa-facebook"></a>
      <a href="https://www.twitter.com/rafaljopek?lang=pl" target="_blank" class="fa fa-twitter"></a>
      <a href="mailto:{{ site.email }}?Subject=Software%20Developer&body=Hi%20Rafał,%0D%0DHope%20this%20email%20finds%20you%20well," target="_top" class="fa fa-envelope"></a>
   </div>